<mat-sidenav-container>
  <mat-sidenav-content class="">
    <mat-toolbar class="topbar topbar-xl m-auto">
      <div class="container full-width p-xs-6 justify-content-between">
        <div class="branding p-x-0">
          @if(options.theme === 'light') {
          <a href="/">
            <img width="90" src="./assets/images/backgrounds/login3-bg.png" class="align-middle m-2" alt="logo" />
          </a>
          } @if(options.theme === 'dark') {
          <a href="/">
            <img width="90" src="./assets/images/backgrounds/login3-bg.png" class="align-middle m-2" alt="logo" />
          </a>
          }
        </div>
        <div class="d-none d-lg-flex">
          <a mat-button class="m-x-8 f-s-16 f-w-500" [routerLink]="['/authentication/side-register']">Register</a>
          <a mat-button class="m-x-8 f-s-16 f-w-500" [routerLink]="['/authentication/side-login']">Login</a>
        </div>
      </div>
    </mat-toolbar>
    <div class="overflow-hidden banner-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-11">
            <div class="text-center">
              <h1 class="banner-title m-0">
                Welcome to KisanXpert: Empowering Farmers, Connecting Markets
              </h1>
              <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle">
                Transforming Agriculture with Innovation and Transparency
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-wrapper overflow-hidden position-relative m-t-40 p-t-30 p-b-10">
        <div class="d-flex flex-row w-100">
          <div class="slider-img">
            <img src="assets/images/backgrounds/1.jpg" height="400" alt="bg-img" />
          </div>
          <div class="slider-img">
            <img src="assets/images/backgrounds/2.jpg" height="400" alt="bg-img" />
          </div>
          <div class="slider-img">
            <img src="assets/images/backgrounds/3.jpg" height="400" alt="bg-img" />
          </div>
          <div class="slider-img">
            <img src="assets/images/backgrounds/4.jpg" height="400" alt="bg-img" />
          </div>
        </div>
      </div>
      



      <div class="container mt-4">
        <div class="row">
          <div 
            class="col-md-6" 
            *ngIf="notificationsData && notificationsData.length > 0"
          >
            <h2 class="section-title">Latest Notifications</h2>
            <div *ngFor="let notification of notificationsData" class="notification-item">
              <h3>{{ notification.title }}</h3>
              <p>{{ notification.content }}</p>
            </div>
          </div>
          
          <div 
            class="col-md-6" 
            *ngIf="educationalContentData && educationalContentData.length > 0"
          >
            <h2 class="section-title">Educational Content</h2>
            <div *ngFor="let content of educationalContentData" class="content-item">
              <h3>{{ content.title }}</h3>
              <p>{{ content.content }}</p>
            </div>
          </div>
        </div>
      </div>








    </div>
    <div class="spacer bg-white" id="demos">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <div class="d-sm-flex align-items-center justify-content-center">
              <div class="d-flex align-items-center justify-content-center social-chips">
                <img src="assets/images/profile/user-2.jpg" width="30" alt="social" class="rounded-circle" />
                <img src="assets/images/profile/user-3.jpg" width="30" alt="social" class="rounded-circle" />
                <img src="assets/images/profile/user-4.jpg" width="30" alt="social" class="rounded-circle" />
              </div>
              <span class="f-s-16 f-w-500 m-l-10"><span class="f-w-600">52,589+</span> farmers
                using our website</span>
            </div>
            <h2 class="section-title">
              Why Choose KisanXpert?
            </h2>
          </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------->
        <div class="row">
          @for(blogPost of blogPosts; track blogPost.title) {
          <ng-container>
            <div class="col-sm-6 col-lg-4">
              <mat-card class="cardWithShadow card2 position-relative card-hover cursor-pointer">
                <img mat-card-image src="{{ blogPost.imgSrc }}" height="210" alt="KisanXpert" />
                <div class="card-overlay h-100 d-flex p-16 p-y-0 align-items-end justify-content-between">
                  <mat-card-title class="mat-headline-6 m-t-15">{{
                    blogPost.title
                    }}</mat-card-title>

                </div>

                <mat-card-content class="p-y-24">
                  <ul>
                    <li>{{blogPost.data1}}</li>
                    <li>{{blogPost.data2}}</li>
                    <li>{{blogPost.data3}}</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
          }
        </div>
        <!----------------------------------------------------------------------------------------------------------------->
      </div>
    </div>

    <div class="spacer">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-8">
            <span class="d-block text-center f-w-500 f-s-16">Almost Covered Everything</span>
            <h2 class="section-title text-center m-t-16">
              Our Features
            </h2>
          </div>
        </div>
        <div class="row m-t-24">
          @for(feature of features; track feature.title) {
          <div class="col-sm-6 col-lg-4">
            <mat-card class="cardWithShadow">
              <mat-card-content>
                <span class="icon-50 bg-light-{{
                    feature.color
                  }} rounded d-flex align-items-center justify-content-center">
                  <i-tabler [name]="feature.icon" class="text-{{ feature.color }} icon-30"></i-tabler>
                </span>
                <h6 class="m-0 f-s-18 f-w-600 m-b-8 m-t-24">
                  {{ feature.title }}
                </h6>
                <span class="f-s-14 m-b-24 d-block lh-base">{{
                  feature.subtext
                  }} @if(feature.subtextMore){
                    <br>
                    {{feature.subtextMore}}
                  }</span>
              </mat-card-content>
            </mat-card><br>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="spacer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="p-24">
              <h2 class="section-title text-center m-t-16">
                Success Stories
              </h2>
              <p class="m-t-24  text-center f-w-500 font-italic">
                KisanXpert has made it easier for me to sell my crops at fair prices. The live auction feature is amazing!
              </p>
              <div class="d-flex align-items-center justify-content-center">
                <div class="m-l-12">
                  <span class="mat-subtitle-1 f-s-16 f-w-600">Ramesh Kumar (Farmer)</span>
                </div>
              </div>
              <p class="text-center f-w-500 font-italic">
                With QR code traceability, I can trust the quality of the products I buy. This platform has changed the way I source my produce.
              </p>
              <div class="d-flex align-items-center justify-content-center">
                <div class="m-l-12">
                  <span class="mat-subtitle-1 f-s-16 f-w-600">Meera Shah (Buyer)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
        <div class="bg-dark rounded p-32 position-relative">
          <div class="row justify-content-between">
            <div class="col-lg-6">
              <h3 class="m-t-0 section-title2 text-white m-b-8">
                Start Your Journey Today?
              </h3>
              <span class="f-s-16 m-b-40 m-t-8 d-block text-white">List your products, connect with buyers, and grow your business</span>
              <div class="hstack">
                <a mat-flat-button [routerLink]="['/authentication/side-login']" color="primary"
                  class="btn-custom sm">Login</a>
                <a mat-stroked-button [routerLink]="['/authentication/side-register']" color="primary"
                  class="btn-custom sm border-accent">Register</a>
              </div>
            </div>
            <div class="col-lg-5 text-right">
              <img src="assets/images/landingpage/background/c2a.png" alt="img" width="596"
                class="c2a-img d-none d-lg-flex" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="p-y-30 bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <div class="f-s-16 m-t-8">
              All rights reserved by KisanXpert. Designed & Developed by
              <a href="" class="mat-subtitle-2 text-primary text-decoration-none">KisanXpert Developers
              </a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>