// :host {
//     display: flex;
//     justify-content: center;
//     margin: 100px 0px;
    
//   }

//   .mat-form-field {
//     width: 100%;
//     min-width: 300px;
//   }

//   mat-card-title,
//   mat-card-content {
//     display: flex;
//     justify-content: center;
//   }

//   mat-card-title{
//     margin: 10px 0px 10px 0px;
//   }
//   .error {
//     padding: 16px;
//     width: 300px;
//     color: white;
//     background-color: red;
//   }

//   .button {
//     display: flex;
//     justify-content: flex-end;
//     width:100%;
//   }

//   .mat-mdc-card { 
//     width: 33%;   
//      padding: 10px 5px 5px 10px; }
// mat-form-field , form  {width: 100%}

// button[mat-raised-button]{
//  // border: 1px solid #dadce0;
//     color: #3c4043;
//     font-weight: 500;
//     font-family: "Google Sans",arial,sans-serif;
// }
.signinBtn{
    text-align: -webkit-center;
    text-align: -moz-center;
}
.fontWeight500{
    font-weight: 500;
}
.minh40{
    min-height: 40px;
}